body{
    background-color: #383E56;
    color: #EEB76B;
    text-align: justify;;
    font-family: 'Spartan', sans-serif;
}

#wrap{
    width: 960px;
    margin: auto;
}

.titulo{
    display: table;
    margin: 0 auto 0 auto;
}

.logo{
    display: table-cell;
    float: left;
}

.zoetrope{
    display: table-cell;
    float: left;
    margin-top: 10px;
}

#menutopo{
    background-color: #310B0B;
    display: table;
    margin: 0 auto 0 auto;
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding-right: 100px;
}

.menu{
    text-decoration: none;
}

a:link{
    color:#EEB76B;
}

a:visited{
    color:#EEB76B;
}

a:hover{
    color: #9C3D54;
}

#paragrafo1{
    width: 500px;
}

#inicio h2{
    margin-bottom: 0px;
}

#inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
}

#moviebuddy{
    display: table-cell;
    float: left;
}

#paragrafo1{
    display: table-cell;
    float: left;
}

#texto1, #texto2{
    line-height: 35px;
}

#beneficios{
    line-height: 50px;
}

ul {
    list-style: none;
  }
  
  .listabeneficios::before {
    content: "\2022";
    color: #9C3D54;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  #avs{
      line-height: 35px;
  }

  #contatos{
      line-height: 40px;
  }